<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="My Debug"
            id="odd">
      </category>
      <view
            name="ObjectDiagram"
            icon="icons/sample.gif"
            category="odd"
            class="odd.views.OddView"
            id="odd.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="odd.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="odd.OddLocalJavaApplicationLaunchDelegate"
            id="odd.launchDelegate1"
            modes="run,debug"
            name="オブジェクト図付きデバッガ"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="odd.ui.OddTab"
            group="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication"
            id="odd.tab1"
            name="ObjectDiagram">
      </tab>
   </extension>

</plugin>
